# Data Structure Practice Questions

In [1]:
name = input("Enter your name")
print(name)

Enter your name Abhishek

Abhishek

In [6]:
# Write a code to find the length of the string "Hello World"

str1 = "Hello World"
len(str1)

11

In [9]:
# Write a code to slice the first 3 characters from the string "Python Programming"

str1 = "Python Programming"
print("First three Characters : ", str1[:3])

First three Characters :  Pyt

In [16]:
# Write a code to convert the string "hello" to uppercase

str1 = "hello"
print(str1.upper())

HELLO

In [21]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple

line = "I like apple"
line = line.replace("apple", "orange")
print(line)

I like orange

In [24]:
# Write a code to create a list with numbers 1 to 5 and print it

list1 = list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [26]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [31]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lis = [1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [32]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

alp = ['a', 'b', 'c', 'd']
print(alp[1])

b

In [33]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

num = [10, 20, 30, 40, 50]
print(num[::-1])

[50, 40, 30, 20, 10]

In [35]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [36]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

color = ('red', 'green', 'blue', 'yellow')
print(color[-2])

blue

In [37]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
max(tup)

20

In [40]:
 # Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [42]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in 

fruits = ['apple', 'banana', 'kiwi']
print('kiwi' in fruits)

True

In [44]:
 # Write a code to create a set with the elements 'a', 'b', 'c' and print it

set1 = {'a','b', 'c'}
print(set1)

{'c', 'b', 'a'}

In [46]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [51]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}

set1 = {1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [54]:
 # Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {4, 5, 6}

# print(set1.union(set2))
print(set1^set2)

{1, 2, 3, 4, 5, 6}

In [55]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 | set2)

{1, 2, 3, 4}

In [56]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    'name' : 'Abhishek',
    'age' : 20,
    'city' : 'Ldh'
}
print(my_dict)

{'name': 'Abhishek', 'age': 20, 'city': 'Ldh'}

In [57]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [59]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [62]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [67]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}


print('city' in dict.keys())

True

In [70]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

lis = list(range(0,6))
tup = tuple(range(0,6))
dic = {
    'name' : 'abhi',
    'city' : 'ldh'
}

print(f"List : {lis}\nTuple : {tup} \nDictionary : {dic}")

List : [0, 1, 2, 3, 4, 5]
Tuple : (0, 1, 2, 3, 4, 5)
Dictionary : {'name': 'abhi', 'city': 'ldh'}

In [83]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random

lis = list(random.randint(0, 101) for _ in range(5))
print(lis)

[39, 99, 56, 68, 17]

In [109]:
# Write a code to create a list with strings and print the element at the third index.

lis = input()
lis = [lis.strip() for lis in lis.split(",")]
lis[1]

 a,b,c

'b'

In [118]:
# Write a code to combine two dictionaries into one and print the result.

dict1 = {'name' : 'abhi', 'city' : 'Ldh'} 
dict2 = {'age' : 19}
combined = {**dict1, **dict2}
print(combined)

{'name': 'abhi', 'city': 'Ldh', 'age': 19}

In [103]:
# Dictionary by input - > 

n = int(input("No. of key-value pairs"))
dict = {}
for i in range(n):
    key = input(f"Enter Key {i+1}")
    value = input(f"Enter Value : ")
    dict[key] = value
key = list(dict.keys())
print(key[1])
print(dict[key[0]])

No. of key-value pairs 3
Enter Key 1 name
Enter Value :  abhi
Enter Key 2 city
Enter Value :  ldh
Enter Key 3 age
Enter Value :  19

city
abhi

In [108]:
# Write a code to convert a list of strings into a set.

lis = list(random.randint(0, 50) for _ in range(5))
set1 = set(lis)
print(set1)

{48, 25, 6, 7}